<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-sm-12">
        <h1>Orders</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table id="order-table" class="hover table">

        </table>
      </div>
    </div>
  </div>
</div>
