<div class="landing">
<div class="container-fluid">
	  <div class="row">
	    <div class="jumbotron">
	      <div class="col-fluid">
	        <h1>Introducing ShareShip</h1>
	        <h3>Save better together</h3>
	        <a href="order/new" class="btn" data-wipe="Get Started">Get Started</a>
	        <img class="truck" src="/assets/truck.png" alt="FedEx truck" height="350px" width="auto">
	      </div>
	    </div>
	  </div>
	</div>
	<div class="container-fluid">
	  <div class="row info">
	    <div class="col">
				<div class="idc">
	      <h1>Who are we?</h1>
	      <p>
	        Shareship is a company that provides our customers with the lowest possible shipping rate.
	        We do this through collective ordering, a process by which two neighbouring people who are ordering from the same retailer
	        order together to lower the overall cost of the shipment.
	      </p>
			</div>
	    </div>
	  </div>
	</div>
	<div class="container-fluid">
	  <div class="row info how">
	      <div class="col-md-12"><h1>How it works:</h1></div>
	      <div class="col-md-4">
	        <div class="story">
	          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
	          <p>
	            Buy something from your favourite retailer
	          </p>
	        </div>
	      </div>
	      <div class="col-md-4">
	        <div class="story">
	          <i class="fa fa-users" aria-hidden="true"></i>
	          <p>
	            Connect with someone else shopping from the same store
	          </p>
	        </div>
	      </div>
	      <div class="col-md-4">
	        <div class="story">
	          <i class="fa fa-money" aria-hidden="true"></i>
	          <p>
	            Save on delivery costs by shipping your item(s) together
	          </p>
	        </div>
	      </div>
	    </div>
	    </div>
	  </div>
	</div>
</div>
